<a href="https://colab.research.google.com/github/Myllena-Oliveira/Data_Science/blob/main/Aula7_arvore_De_Decisao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importação dos dados

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Leitura de tabelas .csv

In [ ]:
tabela_cliente = pd.read_csv('/content/1_cliente.csv')
tabela_localizacao = pd.read_csv('/content/2_geolocalizacao.csv')
tabela_pedido = pd.read_csv('/content/3_pedido.csv')
tabela_pagamento = pd.read_csv('/content/4_pagamento.csv')
tabela_review = pd.read_csv('/content/5_review_clientes.csv')
tabela_entrega_pedido = pd.read_csv('/content/6_entrega_pedido.csv')
tabela_descricao_pedido = pd.read_csv('/content/7_descricao_produto.csv')
tabela_vendedor = pd.read_csv('/content/8_vendedor.csv')
tabela_categoria_traduzido = pd.read_csv('/content/9_categoria_traduzido.csv')

Merge = união de tabelas

In [ ]:
pd.merge(tabela_cliente, tabela_entrega_pedido,
         on=["customer_id"], how="inner" )

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00

Processo de união de cada tabela com a proxima:

1 - (clientes, entregas)

2 - (1, pedidos)

3 - (2, pagamentos)

4 - (3, review)

5 - (4,vendedor)

In [ ]:
dados = tabela_cliente.merge(tabela_entrega_pedido)\
.merge(tabela_pedido).merge(tabela_pagamento)\
.merge(tabela_review).merge(tabela_vendedor)

In [ ]:
dados.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,payment_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,seller_zip_code_prefix,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,146.87,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,8577,itaquaquecetuba,SP
1,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,157.73,5ad6695d76ee186dc473c42706984d87,5,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59,8577,itaquaquecetuba,SP
2,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,173.30,059a801bb31f6aab2266e672cab87bc5,5,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47,8577,itaquaquecetuba,SP
3,4c06b42fbf7b97ab10779cda5549cd1c,07d190f123147d9e89d4b922543d7948,65075,sao luis,MA,997fd4b37386d10b57d4ac8cdec011a6,delivered,2018-07-08 09:59:19,2018-07-08 10:30:15,2018-07-25 15:12:00,...,315.75,2518803238cabbf63564593e4a8fc52d,1,Nada de produto,"Ainda não recebi o produto. Sendo assim, não p...",2018-08-09 00:00:00,2018-08-14 11:40:54,8577,itaquaquecetuba,SP
4,8276de07ef25225d412b8462d73f8664,332cf4e83e16004ba7dca932ce82475b,90010,porto alegre,RS,b63fff1ef8b6201df68bb611ee41129e,delivered,2017-04-02 22:15:27,2017-04-04 05:55:19,2017-04-13 16:28:06,...,146.21,84467f1766775ba4c14fc25b3ca67905,4,NaN,"A crítica é à entrega, pois por se tratar dos ...",2017-05-03 00:00:00,2017-05-03 21:06:33,8577,itaquaquecetuba,SP

In [ ]:
df_ = dados.copy

In [ ]:
dados.columns.tolist()

['customer_id',
 'customer_unique_id',
 'customer_zip_code_prefix',
 'customer_city',
 'customer_state',
 'order_id',
 'order_status',
 'order_purchase_timestamp',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_delivered_customer_date',
 'order_estimated_delivery_date',
 'order_item_id',
 'product_id',
 'seller_id',
 'shipping_limit_date',
 'price',
 'freight_value',
 'payment_sequential',
 'payment_type',
 'payment_installments',
 'payment_value',
 'review_id',
 'review_score',
 'review_comment_title',
 'review_comment_message',
 'review_creation_date',
 'review_answer_timestamp',
 'seller_zip_code_prefix',
 'seller_city',
 'seller_state']

In [ ]:
dataframe = dados.drop(columns=['customer_unique_id',
                                'customer_city',
                                'customer_state',
                                'order_status',
                                'order_purchase_timestamp',
                                'order_approved_at',
                                'order_delivered_carrier_date',
                                'order_delivered_customer_date',
                                'order_estimated_delivery_date',
                                'shipping_limit_date',
                                'review_creation_date',
                                'review_answer_timestamp',
                                'seller_city',
                                'seller_state',
                                'review_comment_title',
                                'review_comment_message'])

In [ ]:
dataframe

,customer_id,customer_zip_code_prefix,order_id,order_item_id,product_id,seller_id,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,review_id,review_score,seller_zip_code_prefix
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,00e7ee1b050b8499577073aeb2a297a1,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,124.99,21.88,1,credit_card,2,146.87,88b8b52d46df026a9d1ad2136a59b30b,4,8577
1,4e7b3e00288586ebd08712fdd0374a03,1151,b2059ed67ce144a36e2aa97d2c9e9ad2,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,139.94,17.79,1,credit_card,7,157.73,5ad6695d76ee186dc473c42706984d87,5,8577
2,b2b6027bc5c5109e529d4dc6358b12c3,8775,951670f92359f4fe4a63112aa7306eba,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,149.94,23.36,1,credit_card,1,173.30,059a801bb31f6aab2266e672cab87bc5,5,8577
3,4c06b42fbf7b97ab10779cda5549cd1c,65075,997fd4b37386d10b57d4ac8cdec011a6,1,8ed094bfe076c568f6bb10feada3f75d,7c67e1448b00f6e969d365cea6b010ab,199.98,115.77,1,credit_card,6,315.75,2518803238cabbf63564593e4a8fc52d,1,8577
4,8276de07ef25225d412b8462d73f8664,90010,b63fff1ef8b6201df68bb611ee41129e,1,aba86c093ccdbac75b09111d57e50004,7c67e1448b00f6e969d365cea6b010ab,129.60,16.61,1,boleto,1,146.21,84467f1766775ba4c14fc25b3ca67905,4,8577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,eda10d7eb51a675d000956fa1aabc7dd,39920,b494f624c631105b24fe497277085909,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,49.90,22.28,1,credit_card,3,72.18,709ee020ff826ee5289d7dd5d6911d0c,5,87015
117325,f0f671d4034e98cdf20f0c452d6db02b,7231,f73b31435ce6dec43df056154c39a1ce,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,730.00,45.98,1,credit_card,10,775.98,274e38de8990f74fc03894fa488b5cd5,3,9861
117326,b90b857a277b080d8078332b3636ab58,76400,d76fe905f4588ad69ab3b36527bb267d,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,135.98,88.46,1,credit_card,6,224.44,6010e1ba95a9e19dc10a7b761932cf98,5,83015
117327,1ed0c832c2dd99570a59260e71768bdf,37610,51c6d2f460589fa7b65f2da51e860206,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,1,credit_card,5,167.79,603f2873842a6975a43c54d305397d69,1,12914
117328,1ed0c832c2dd99570a59260e71768bdf,37610,51c6d2f460589fa7b65f2da51e860206,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,2,credit_card,1,32.13,603f2873842a6975a43c54d305397d69,1,12914

In [ ]:
dataframe.shape

(117329, 15)

In [ ]:
for coluna in dataframe:
  dataframe[coluna] = (np.array(dataframe[coluna]))

In [ ]:
dataframe.columns.tolist()

['customer_id',
 'customer_zip_code_prefix',
 'order_id',
 'order_item_id',
 'product_id',
 'seller_id',
 'price',
 'freight_value',
 'payment_sequential',
 'payment_type',
 'payment_installments',
 'payment_value',
 'review_id',
 'review_score',
 'seller_zip_code_prefix']

In [ ]:
dataframe.columns = ['cliente', 'cepcliente','pedido', 'idpedido', 'produto', 'vendedor', 'preco_prodtudo', 'frete', 'parcelas', 'tipopagamento','prestações', 'valorfinal', 'review', 'score', 'cepvendedor']

In [ ]:
dataframe .info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117329 entries, 0 to 117328
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   cliente         117329 non-null  object
 1   cepcliente      117329 non-null  int64
 2   pedido          117329 non-null  object
 3   idpedido        117329 non-null  int64
 4   produto         117329 non-null  object
 5   vendedor        117329 non-null  object
 6   preco_prodtudo  117329 non-null  float64
 7   frete           117329 non-null  float64
 8   parcelas        117329 non-null  int64
 9   tipopagamento   117329 non-null  object
 10  prestações      117329 non-null  int64
 11  valorfinal      117329 non-null  float64
 12  review          117329 non-null  object
 13  score           117329 non-null  int64
 14  cepvendedor     117329 non-null  int64
dtypes: float64(3), int64(6), object(6)
memory usage: 14.3+ MB

In [ ]:
dataframe.groupby(by='cliente').size()

cliente
00012a2ce6f8dcda20d059ce98491703    1
000161a058600d5901f007fab4c27140    1
0001fd6190edaaf884bcaf3d49edf079    1
0002414f95344307404f0ace7a26f1d5    1
000379cdec625522490c315e70c7a9fb    1
                                   ..
fffcb937e9dd47a13f05ecb8290f4d3e    1
fffecc9f79fd8c764f843e9951b11341    3
fffeda5b6d849fbd39689bb92087f431    1
ffff42319e9b2d713724ae527742af25    1
ffffa3172527f765de70084a7e53aae8    2
Length: 97916, dtype: int64

Importando os métodos de árvores de decisão

In [ ]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
df = dataframe.copy()

In [ ]:
df

,cliente,cepcliente,pedido,idpedido,produto,vendedor,preco_prodtudo,frete,parcelas,tipopagamento,prestações,valorfinal,review,score,cepvendedor
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,00e7ee1b050b8499577073aeb2a297a1,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,124.99,21.88,1,credit_card,2,146.87,88b8b52d46df026a9d1ad2136a59b30b,4,8577
1,4e7b3e00288586ebd08712fdd0374a03,1151,b2059ed67ce144a36e2aa97d2c9e9ad2,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,139.94,17.79,1,credit_card,7,157.73,5ad6695d76ee186dc473c42706984d87,5,8577
2,b2b6027bc5c5109e529d4dc6358b12c3,8775,951670f92359f4fe4a63112aa7306eba,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,149.94,23.36,1,credit_card,1,173.30,059a801bb31f6aab2266e672cab87bc5,5,8577
3,4c06b42fbf7b97ab10779cda5549cd1c,65075,997fd4b37386d10b57d4ac8cdec011a6,1,8ed094bfe076c568f6bb10feada3f75d,7c67e1448b00f6e969d365cea6b010ab,199.98,115.77,1,credit_card,6,315.75,2518803238cabbf63564593e4a8fc52d,1,8577
4,8276de07ef25225d412b8462d73f8664,90010,b63fff1ef8b6201df68bb611ee41129e,1,aba86c093ccdbac75b09111d57e50004,7c67e1448b00f6e969d365cea6b010ab,129.60,16.61,1,boleto,1,146.21,84467f1766775ba4c14fc25b3ca67905,4,8577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,eda10d7eb51a675d000956fa1aabc7dd,39920,b494f624c631105b24fe497277085909,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,49.90,22.28,1,credit_card,3,72.18,709ee020ff826ee5289d7dd5d6911d0c,5,87015
117325,f0f671d4034e98cdf20f0c452d6db02b,7231,f73b31435ce6dec43df056154c39a1ce,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,730.00,45.98,1,credit_card,10,775.98,274e38de8990f74fc03894fa488b5cd5,3,9861
117326,b90b857a277b080d8078332b3636ab58,76400,d76fe905f4588ad69ab3b36527bb267d,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,135.98,88.46,1,credit_card,6,224.44,6010e1ba95a9e19dc10a7b761932cf98,5,83015
117327,1ed0c832c2dd99570a59260e71768bdf,37610,51c6d2f460589fa7b65f2da51e860206,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,1,credit_card,5,167.79,603f2873842a6975a43c54d305397d69,1,12914
117328,1ed0c832c2dd99570a59260e71768bdf,37610,51c6d2f460589fa7b65f2da51e860206,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,2,credit_card,1,32.13,603f2873842a6975a43c54d305397d69,1,12914

In [ ]:
df['cliente'] = df['cliente'].str.replace(r'\D','')
df['pedido'] = df['pedido'].str.replace(r'\D','')
df['produto'] = df['produto'].str.replace(r'\D','')
df['vendedor'] = df['cliente'].str.replace(r'\D','')
df['review'] = df['review'].str.replace(r'\D','')
df

<ipython-input-20-479ca11df3d7>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cliente'] = df['cliente'].str.replace(r'\D','')
<ipython-input-20-479ca11df3d7>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['pedido'] = df['pedido'].str.replace(r'\D','')
<ipython-input-20-479ca11df3d7>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['produto'] = df['produto'].str.replace(r'\D','')
<ipython-input-20-479ca11df3d7>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['vendedor'] = df['cliente'].str.replace(r'\D','')
<ipython-input-20-479ca11df3d7>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['review'] = df['review'].str.replace(r'\D','')

,cliente,cepcliente,pedido,idpedido,produto,vendedor,preco_prodtudo,frete,parcelas,tipopagamento,prestações,valorfinal,review,score,cepvendedor
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,068999211881720087,124.99,21.88,1,credit_card,2,146.87,88852460269121365930,4,8577
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,4730028858608712037403,139.94,17.79,1,credit_card,7,157.73,56695761864734270698487,5,8577
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,260275510952946358123,149.94,23.36,1,credit_card,1,173.30,0598013162266672875,5,8577
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,406427971077955491,199.98,115.77,1,credit_card,6,315.75,2518803238635645934852,1,8577
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,827607252254128462738664,129.60,16.61,1,boleto,1,146.21,84467176677541425367905,4,8577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,1075167500095617,39920,49462463110524497277085909,1,242136271129618259334261,1075167500095617,49.90,22.28,1,credit_card,3,72.18,70902082652897569110,5,87015
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,0671403498200452602,730.00,45.98,1,credit_card,10,775.98,274388990740389448855,3,9861
117326,908572770808078332363658,76400,76905458869336527267,1,6723658311543806891676,908572770808078332363658,135.98,88.46,1,credit_card,6,224.44,601019591910776193298,5,83015
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,108322995705926071768,167.99,31.93,1,credit_card,5,167.79,60328738426975435430539769,1,12914
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,108322995705926071768,167.99,31.93,2,credit_card,1,32.13,60328738426975435430539769,1,12914

In [ ]:
result_df = pd.get_dummies(df, columns=["tipopagamento"])

In [ ]:
result_df

,cliente,cepcliente,pedido,idpedido,produto,vendedor,preco_prodtudo,frete,parcelas,prestações,valorfinal,review,score,cepvendedor,tipopagamento_boleto,tipopagamento_credit_card,tipopagamento_debit_card,tipopagamento_voucher
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,068999211881720087,124.99,21.88,1,2,146.87,88852460269121365930,4,8577,0,1,0,0
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,4730028858608712037403,139.94,17.79,1,7,157.73,56695761864734270698487,5,8577,0,1,0,0
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,260275510952946358123,149.94,23.36,1,1,173.30,0598013162266672875,5,8577,0,1,0,0
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,406427971077955491,199.98,115.77,1,6,315.75,2518803238635645934852,1,8577,0,1,0,0
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,827607252254128462738664,129.60,16.61,1,1,146.21,84467176677541425367905,4,8577,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,1075167500095617,39920,49462463110524497277085909,1,242136271129618259334261,1075167500095617,49.90,22.28,1,3,72.18,70902082652897569110,5,87015,0,1,0,0
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,0671403498200452602,730.00,45.98,1,10,775.98,274388990740389448855,3,9861,0,1,0,0
117326,908572770808078332363658,76400,76905458869336527267,1,6723658311543806891676,908572770808078332363658,135.98,88.46,1,6,224.44,601019591910776193298,5,83015,0,1,0,0
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,108322995705926071768,167.99,31.93,1,5,167.79,60328738426975435430539769,1,12914,0,1,0,0
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,108322995705926071768,167.99,31.93,2,1,32.13,60328738426975435430539769,1,12914,0,1,0,0

In [ ]:
reserva = result_df.copy()
reserva

,cliente,cepcliente,pedido,idpedido,produto,vendedor,preco_prodtudo,frete,parcelas,prestações,valorfinal,review,score,cepvendedor,tipopagamento_boleto,tipopagamento_credit_card,tipopagamento_debit_card,tipopagamento_voucher
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,068999211881720087,124.99,21.88,1,2,146.87,88852460269121365930,4,8577,0,1,0,0
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,4730028858608712037403,139.94,17.79,1,7,157.73,56695761864734270698487,5,8577,0,1,0,0
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,260275510952946358123,149.94,23.36,1,1,173.30,0598013162266672875,5,8577,0,1,0,0
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,406427971077955491,199.98,115.77,1,6,315.75,2518803238635645934852,1,8577,0,1,0,0
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,827607252254128462738664,129.60,16.61,1,1,146.21,84467176677541425367905,4,8577,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,1075167500095617,39920,49462463110524497277085909,1,242136271129618259334261,1075167500095617,49.90,22.28,1,3,72.18,70902082652897569110,5,87015,0,1,0,0
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,0671403498200452602,730.00,45.98,1,10,775.98,274388990740389448855,3,9861,0,1,0,0
117326,908572770808078332363658,76400,76905458869336527267,1,6723658311543806891676,908572770808078332363658,135.98,88.46,1,6,224.44,601019591910776193298,5,83015,0,1,0,0
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,108322995705926071768,167.99,31.93,1,5,167.79,60328738426975435430539769,1,12914,0,1,0,0
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,108322995705926071768,167.99,31.93,2,1,32.13,60328738426975435430539769,1,12914,0,1,0,0

In [ ]:
reserva = reserva.drop(reserva[reserva.score > 3].index)
reserva

,cliente,cepcliente,pedido,idpedido,produto,vendedor,preco_prodtudo,frete,parcelas,prestações,valorfinal,review,score,cepvendedor,tipopagamento_boleto,tipopagamento_credit_card,tipopagamento_debit_card,tipopagamento_voucher
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,406427971077955491,199.98,115.77,1,6,315.75,2518803238635645934852,1,8577,0,1,0,0
7,0372810041857927016263,21010,369525670169482825831,1,9149964056487642250089,0372810041857927016263,78.98,39.48,1,1,118.46,50240342442053299029167,2,8577,1,0,0,0
18,45800571938861445,13485,3793048208056190003,1,073816586646007781918834,45800571938861445,209.99,36.98,1,4,246.97,19338660916893707370094,3,8577,0,1,0,0
19,19530467435951219042,20920,54813422788333035171945,1,466668028836324039256,19530467435951219042,159.98,49.49,1,1,209.47,576586473748925439048,1,8577,1,0,0,0
21,52814168460899591,36091,532771277634465595,1,44685813716436,52814168460899591,129.94,73.86,1,4,203.80,47648253909483401757,1,8577,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117320,049671902463228846651580,4929,93358729701080188455,1,72966155721853046438,049671902463228846651580,109.00,12.67,1,1,121.67,4396354052945949758,1,4310,1,0,0,0
117323,211018165721598633401,18650,357035504504584,1,44442901095795215892510,211018165721598633401,226.60,25.67,1,5,252.27,220719962586900027,3,9895,0,1,0,0
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,0671403498200452602,730.00,45.98,1,10,775.98,274388990740389448855,3,9861,0,1,0,0
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,108322995705926071768,167.99,31.93,1,5,167.79,60328738426975435430539769,1,12914,0,1,0,0
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,108322995705926071768,167.99,31.93,2,1,32.13,60328738426975435430539769,1,12914,0,1,0,0

Separando os dados para treino e teste

In [ ]:
y = result_df['score']

In [ ]:
X = result_df.drop('score', axis = 1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

Número de amostra para cada processo

In [ ]:
X_train.shape, X_test.shape

((82130, 17), (35199, 17))

Número de targets para cada processo

In [ ]:
y_train.shape, y_test.shape

((82130,), (35199,))

Criação do classificador

In [ ]:
cls = DecisionTreeClassifier()

Treinamento

In [ ]:
cls = cls.fit(X_train, y_train)

Vetor com as importancias de cada atributo para a determinação do review_score

In [ ]:
cls.feature_importances_

array([0.06793456, 0.11450044, 0.11218451, 0.00701296, 0.10147907,
       0.06532156, 0.0856003 , 0.08814342, 0.00281571, 0.04063624,
       0.09197489, 0.11499567, 0.08528114, 0.00815936, 0.00773058,
       0.00252555, 0.00370405])

In [ ]:
for feature, importancia in zip(result_df.columns, cls.feature_importances_):
    print("{}:{:.1f}%".format(feature,((importancia*100))))

cliente:6.8%
cepcliente:11.5%
pedido:11.2%
idpedido:0.7%
produto:10.1%
vendedor:6.5%
preco_prodtudo:8.6%
frete:8.8%
parcelas:0.3%
prestações:4.1%
valorfinal:9.2%
review:11.5%
score:8.5%
cepvendedor:0.8%
tipopagamento_boleto:0.8%
tipopagamento_credit_card:0.3%
tipopagamento_debit_card:0.4%

Vetor com predições para checagem do aprendizado

In [ ]:
result = cls.predict(X_test)
result

array([5, 4, 5, ..., 4, 5, 2])

Representação das métricas de precisão e médias do modelo

In [ ]:
from sklearn import metrics
print(metrics.classification_report(y_test,result))

              precision    recall  f1-score   support

           1       0.25      0.26      0.26      4391
           2       0.13      0.14      0.13      1215
           3       0.15      0.16      0.15      2902
           4       0.25      0.26      0.26      6761
           5       0.61      0.59      0.60     19930

    accuracy                           0.43     35199
   macro avg       0.28      0.28      0.28     35199
weighted avg       0.44      0.43      0.44     35199

Precisão total

In [ ]:
from sklearn.model_selection import cross_val_score
allScores = cross_val_score(cls,X_train, y_train, cv=10)
allScores.mean()

0.42829660294654814

Split do dataframe em treino e teste (70%, 30%, respectivamente)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split (reserva.drop('score', axis = 1),reserva['score'], test_size=0.2)

Quantidade de amostras do treino

In [ ]:
X_train.shape, X_test.shape

((23023, 17), (5756, 17))

Classificador

In [ ]:
clf = DecisionTreeClassifier()

Treino

In [ ]:
clf = clf.fit(X_train, y_train)

Importância de cada atributo para determinar o nível de satisfação dos consumidores

In [ ]:
clf.feature_importances_

array([0.05897652, 0.11457239, 0.10628313, 0.00802909, 0.10290015,
       0.06268799, 0.0977306 , 0.10046571, 0.00160071, 0.03271737,
       0.09550222, 0.11331742, 0.08608002, 0.00598383, 0.00816383,
       0.00207073, 0.00291828])

In [ ]:
for feature, importancia in zip(result_df.columns, cls.feature_importances_):
    print("{}:{:.1f}%".format(feature,((importancia*100))))

cliente:6.8%
cepcliente:11.5%
pedido:11.2%
idpedido:0.7%
produto:10.1%
vendedor:6.5%
preco_prodtudo:8.6%
frete:8.8%
parcelas:0.3%
prestações:4.1%
valorfinal:9.2%
review:11.5%
score:8.5%
cepvendedor:0.8%
tipopagamento_boleto:0.8%
tipopagamento_credit_card:0.3%
tipopagamento_debit_card:0.4%